/*
***************************************
*  designed by MATTHEW ZIPKIN 2012    *
* matthew(dot)zipkin(at)gmail(dot)com *
***************************************
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body
{
	width: 1500px;
	height: 100%;
	font-family: 'SFCartoonistHandBold';
	background-color: black;

	/* prevent text selection */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#mainc
{
	position: relative;
	display: inline-block;
	background-image: url('../i/paper.gif');
	background-repeat: no-repeat;
	background-size: 100% auto;
	text-align: center;
	width: 900px;
	height: 900px;
}

#zstart
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 500;
	background-color: #5ccccc;
	color: black;
	font-size: 400px;
}

#canvas
{
	display: block;
	position: absolute;
	width: 800px;
	height: 800px;
	margin: 50px;
	opacity: 0.5;
}

#base
{
	display: block;
	position: absolute;
	width: 800px;
	height: 800px;
	margin: 50px;
	opacity: 0.5;
}

#screen
{
	display: block;
	position: absolute;
	pointer-events: none;
	width: 800px;
	height: 800px;
	margin: 50px;
}

.arrow
{
	display: block;
	position: absolute;
	background-image: url('../i/arrow.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 1px solid black;
	border-radius: 100px;
	width: 64px;
	height: 64px;
}

.check
{
	background-color: green;
	z-index: 100;
}

.stop
{
	background-image: url('../i/star.gif');
}

#readout
{
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 80px;
	color: #ff5555;
}

#controls
{
	display: inline-block;
	position: absolute;
	width: 600px;
	height: 900px;
	background-color: #ffa;
}

#volume
{
	position: relative;
	display: block;
	border: 1px solid black;
	margin: 0px auto;
	width: 340px;
	height: 110px;
	overflow: hidden;
}

.volbutt
{
	display: inline-block;
	position: relative;
	height: 100px;
	width: 100px;
	background-image: url('../i/volume.png');
	margin: 0px 5px 0px 5px;
	opacity: 0.2;
}

#vol1
{
	background-position: -100px 0px;
}

#vol2
{
	background-position: -200px 0px;
}

.volselect
{
	opacity: 1;
}

#gameword
{
	font-size: 160px;
	text-align: center;
	height: 200px;
}

#gamewordpic
{
	display: block;
	height: 580px;
	text-align: center;
	overflow: hidden;
}

#gamewordpic img
{
	width: 600px;
}
